html,
body {
    height: 100%;
    margin: 0;
    background: url(/public/img/auth/bg-auth.jpg) no-repeat;
    background-attachment: fixed;
}

.page-login, .page-register {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    min-height: 100%;
    padding-bottom: 60px;
    z-index: 3;
}

.form-bg {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 30px 45px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.95;
    color: #424242;
    z-index: 2;
}

.alerts_block {
    margin-top: 30px;
}

.from_menu_margin {
    margin-left: 5%;
}

#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
    z-index: 2;
}

.btn-form {
    background: linear-gradient(to right, #008acb 0%, #00bff9 100%);
    border-style: none;
    text-transform: uppercase;
    color: white;
}

.text-center {
    text-align: center !important;
}

.btn:not(.btn-sm) {
    font-size: 14px;
    text-transform: uppercase;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
}

.hidden {
    display: none;
}

a {
    color: #424242;
}

a:hover {
    text-decoration: none;
    color: #008acb;
}

.login-arrow {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    bottom: 270px;
    bottom: 41%;
    transform: translateX(-50%);
    z-index: 2;
}

.box-register {
    background: #2d2d2d;
    background: -moz-linear-gradient(-45deg, #2d2d2d 0%, #636363 100%);
    background: -webkit-linear-gradient(-45deg, #2d2d2d 0%, #636363 100%);
    background: linear-gradient(135deg, #2d2d2d 0%, #636363 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d', endColorstr='#636363', GradientType=1);
    padding: 45px 30px 30px 30px;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.box-register a {
    color: #fff;
}

hr {
    border-color: #D4D4D4;
}

.box-line {
    content: "";
    background: #008fc3;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fa-plus-circle{
    color:white;
}

.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto
}

.profile-info-row {
    display: table-row
}

.profile-info-name,
.profile-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
}

.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 110px;
    vertical-align: middle
}

.profile-info-value {
    padding: 6px 4px 6px 6px
}

.profile-info-value>span+span:before {
    display: inline;
    content: ",";
    margin-left: 1px;
    margin-right: 3px;
    color: #666;
    border-bottom: 1px solid #FFF
}

.profile-info-value>span+span.editable-container:before {
    display: none
}

.dd-empty,
.dd-handle,
.dd-placeholder,
.dd2-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.bigger-110 {
    color: white;
    text-transform: uppercase;
}


.user-profile .ace-thumbnails li {
    border: 1px solid #CCC;
    padding: 3px;
    margin: 6px
}

.user-profile .ace-thumbnails li .tools {
    left: 3px;
    right: 3px
}

.user-profile .ace-thumbnails li:hover .tools {
    bottom: 3px
}

.user-title-label:hover {
    text-decoration: none
}

.user-title-label+.dropdown-menu {
    margin-left: -12px
}

.profile-contact-links {
    padding: 4px 2px 5px;
    border: 1px solid #E0E2E5;
    background-color: #F8FAFC
}

.btn-link:hover .ace-icon {
    text-transform: uppercase !important;
    color:white;
}


.ace-button
{
    background:#008acb;
}

.fa-map-marker {
    color:#008acb;
}

a {
    color: #777!important
}

.bg-white {
    min-height: 100%;
    min-width: 100% !important;
    background-color: white !important;
}

.admin-container {
    margin-left: 50px;
}
