html,
body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background: white;
    background-attachment: fixed;
    overflow-x: hidden;
}

#app {
    height: 100%;
}

.bg-standart {
    background-color: #f1f1f1;
    color: #424242;
    height: 100%;
    width: 100%;
}

button:active, .btn:active,
button:focus, .btn:focus {
    outline: none;
}

button::-moz-focus-inner, .btn::-moz-focus-inner {
    border: 0;
}

a:active,
a:focus {
    outline: none;
}

.page-login, .page-register {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    min-height: 100%;
    padding-bottom: 60px;
    z-index: 3;
}

.form-bg {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 30px 45px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.95;
    color: #424242;
    z-index: 2;
}

.alerts_block {
    margin-top: 30px;
}

.from_menu_margin {
    margin-left: 5%;
}

.close-input {
    display: none;
}

#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
    z-index: 2;
}

.btn-form {
    background: linear-gradient(to right, #008acb 0%, #00bff9 100%);
    border-style: none;
    text-transform: uppercase;
    color: white;
}

.text-center {
    text-align: center !important;
}

.btn:not(.btn-sm) {
    font-size: 14px;
    text-transform: uppercase;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
}

.hidden {
    display: none;
}

a {
    color: #424242;
}

a:hover {
    text-decoration: none;
    color: #008acb;
}

.login-arrow {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50%;
    font-size: 36px;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    bottom: 270px;
    bottom: 41%;
    transform: translateX(-50%);
    z-index: 2;
}

.box-register {
    background: #2d2d2d;
    background: -moz-linear-gradient(-45deg, #2d2d2d 0%, #636363 100%);
    background: -webkit-linear-gradient(-45deg, #2d2d2d 0%, #636363 100%);
    background: linear-gradient(135deg, #2d2d2d 0%, #636363 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d', endColorstr='#636363', GradientType=1);
    padding: 45px 30px 30px 30px;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.box-register a {
    color: #fff;
}

hr {
    border-color: #D4D4D4;
}

.box-line {
    content: "";
    background: #008fc3;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fa-plus-circle {
    color: white;
}

.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto
}

.profile-info-row {
    display: table-row
}

.profile-info-name,
.profile-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
}

.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 110px;
    vertical-align: middle
}

.profile-info-value {
    padding: 6px 4px 6px 6px
}

.profile-info-value > span + span:before {
    display: inline;
    content: ",";
    margin-left: 1px;
    margin-right: 3px;
    color: #666;
    border-bottom: 1px solid #FFF
}

.profile-info-value > span + span.editable-container:before {
    display: none
}


.bigger-110 {
    color: white;
    text-transform: uppercase;
}


.user-profile .ace-thumbnails li {
    border: 1px solid #CCC;
    padding: 3px;
    margin: 6px
}

.user-profile .ace-thumbnails li .tools {
    left: 3px;
    right: 3px
}

.user-profile .ace-thumbnails li:hover .tools {
    bottom: 3px
}

.user-title-label:hover {
    text-decoration: none
}

.user-title-label + .dropdown-menu {
    margin-left: -12px
}

.profile-contact-links {
    padding: 4px 2px 5px;
    border: 1px solid #E0E2E5;
    background-color: #F8FAFC
}

.btn-link:hover .ace-icon {
    text-transform: uppercase !important;
    color: white;
}


.ace-button {
    background: #008acb;
}

.fa-map-marker {
    color: #008acb;
}

.bg-white {
    min-height: 100%;
    min-width: 100% !important;
    background: url(/public/img/auth/bg-auth.jpg) no-repeat !important;
}

.admin-container {
    padding-left: 50px;
}

/* USER LIST TABLE */
.user-list tbody td > img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.user-list tbody td {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

.btn-men {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.2px;
    opacity: 0.93;
}

.btn-men:hover {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
}

.btn-men:focus {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
}

.btn-men-danger,
.btn-men-inverse {
    color: #ffffff !important;
}

.btn-men-danger,
.btn-men-danger:active,
.btn-men-danger:focus,
.btn-men-danger:hover,
.btn-men-danger.active,
.btn-men-danger.focus,
.btn-men-danger:active,
.btn-men-danger:focus,
.btn-men-danger:hover,
.open > .dropdown-toggle.btn-men-danger {
    background-color: #00d5ff !important;
    border: none !important;
}

.btn-men-inverse,
.btn-men-inverse:hover,
.btn-men-inverse:focus,
.btn-men-inverse:active,
.btn-men-inverse.active,
.btn-men-inverse.focus,
.btn-men-inverse:active,
.btn-men-inverse:focus,
.btn-men-inverse:hover,
.open > .dropdown-toggle.btn-men-inverse {
    background-color: #3a3a3a !important;
    border: none !important;
    color: #ffffff;
}


.btn-men-custom.btn-men-danger {
    color: #00d5ff !important;
}

.btn-men-custom.btn-men-inverse {
    color: #3a3a3a !important;
}

.badge-red {
    background: #3a3a3a;
    text-transform: uppercase;

}

.badge-gray {
    background: #3a3a3a !important;
    text-transform: uppercase;
}

.badge {
    font-weight: 300 !important;
}

.btn-men-custom {
    -moz-border-radius: 2px;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -webkit-border-radius: 2px;
    -webkit-transition: all 400ms ease-in-out;
    background: transparent;
    background-color: transparent !important;
    border-radius: 2px;
    border-width: 1px;
    transition: all 400ms ease-in-out;
}

.btn-men-custom:hover {
    color: #ffffff !important;
}

.btn-men-custom:focus {
    color: #ffffff !important;
}

/* profile*/

.user-box {
    width: 100px;
    margin: auto;
    margin-bottom: 20px;

}

.bg-card {
    background: linear-gradient(135deg, #2d2d2d 0%, #636363 100%);
}

.badge-dark-gr {
    background: linear-gradient(135deg, #2d2d2d 0%, #636363 100%);
}

.user-box img {
    width: 100%;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.profile-card-2 .card {
    position: relative;
}

.profile-card-2 .card .card-body {
    z-index: 1;
}

.profile-card-2 .card::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 112px;
    background-color: #e6e6e6;
}

.profile-card-2 .card.profile-primary::before {
    background-color: #00bff9;
}

.profile-card-2 .card.profile-success::before {
    background-color: #15ca20;
}

.profile-card-2 .card.profile-danger::before {
    background-color: #fd3550;
}

.profile-card-2 .card.profile-warning::before {
    background-color: #ff9700;
}

.profile-card-2 .user-box {
    margin-top: 30px;
}

.profile-card-3 .user-fullimage {
    position: relative;
}

.profile-card-3 .user-fullimage .details {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
}

.profile-card-4 .user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.profile-card-4 .list-icon {
    display: table-cell;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: middle;
    color: #3A3A3A;
}

.profile-card-4 .list-details {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    color: #3A3A3A;
    font-size: 15px;
    line-height: 15px;
}

.profile-card-4 .list-details small {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
    color: #AAB8BC;
}

.list-strong {
    color: #3A3A3A;
}

.list-company {
    color: #AAB8BC;
}

/*Nav Tabs & Pills */
.nav-tabs .nav-link {
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2px;
    margin-bottom: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}

.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

.nav-tabs .nav-link i {
    margin-right: 2px;
    font-weight: 600;
}

.top-icon.nav-tabs .nav-link i {
    margin: 0px;
    font-weight: 500;
    display: block;
    font-size: 20px;
    padding: 5px 0;
}

.nav-tabs-primary .nav-link.active, .nav-tabs-primary .nav-item.show > .nav-link {
    color: #008cff;
    background-color: #fff;
    border-color: #008cff #008cff #fff;
    border-top: 3px solid #008cff;
}


.nav-tabs-success .nav-link.active, .nav-tabs-success .nav-item.show > .nav-link {
    color: #15ca20;
    background-color: #fff;
    border-color: #15ca20 #15ca20 #fff;
    border-top: 3px solid #15ca20;
}

.red-btn {
    background-color: #d20419;
    color: white;
}

.nav-tabs-info .nav-link.active, .nav-tabs-info .nav-item.show > .nav-link {
    color: #0dceec;
    background-color: #fff;
    border-color: #0dceec #0dceec #fff;
    border-top: 3px solid #0dceec;
}

.nav-tabs-danger.nav-tabs {
    border-bottom: 1px solid #fd3550;
}

.nav-tabs-danger .nav-link.active, .nav-tabs-danger .nav-item.show > .nav-link {
    color: #fd3550;
    background-color: #fff;
    border-color: #fd3550 #fd3550 #fff;
    border-top: 3px solid #fd3550;
}

.nav-tabs-warning .nav-link.active, .nav-tabs-warning .nav-item.show > .nav-link {
    color: #ff9700;
    background-color: #fff;
    border-color: #ff9700 #ff9700 #fff;
    border-top: 3px solid #ff9700;
}

.nav-tabs-dark .nav-link.active, .nav-tabs-dark .nav-item.show > .nav-link {
    color: #223035;
    background-color: #fff;
    border-color: #223035 #223035 #fff;
    border-top: 3px solid #223035;
}

.nav-tabs-secondary .nav-link.active, .nav-tabs-secondary .nav-item.show > .nav-link {
    color: #75808a;
    background-color: #fff;
    border-color: #75808a #75808a #fff;
    border-top: 3px solid #75808a;
}

.tabs-vertical .nav-tabs .nav-link {
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2px;
    margin-right: -1px;
    padding: 12px 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #dee2e6;
}

.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 1px solid #dee2e6;
    border-right: 0;
    border-left: 1px solid #dee2e6;
}

.tabs-vertical-primary.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #008cff;
}

.tabs-vertical-primary.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-primary.tabs-vertical .nav-tabs .nav-link.active {
    color: #008cff;
    background-color: #fff;
    border-color: #008cff #008cff #fff;
    border-bottom: 1px solid #008cff;
    border-right: 0;
    border-left: 3px solid #008cff;
}

.tabs-vertical-success.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #15ca20;
}

.tabs-vertical-success.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-success.tabs-vertical .nav-tabs .nav-link.active {
    color: #15ca20;
    background-color: #fff;
    border-color: #15ca20 #15ca20 #fff;
    border-bottom: 1px solid #15ca20;
    border-right: 0;
    border-left: 3px solid #15ca20;
}

.tabs-vertical-info.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #0dceec;
}

.tabs-vertical-info.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-info.tabs-vertical .nav-tabs .nav-link.active {
    color: #0dceec;
    background-color: #fff;
    border-color: #0dceec #0dceec #fff;
    border-bottom: 1px solid #0dceec;
    border-right: 0;
    border-left: 3px solid #0dceec;
}

.tabs-vertical-danger.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #fd3550;
}

.tabs-vertical-danger.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-danger.tabs-vertical .nav-tabs .nav-link.active {
    color: #fd3550;
    background-color: #fff;
    border-color: #fd3550 #fd3550 #fff;
    border-bottom: 1px solid #fd3550;
    border-right: 0;
    border-left: 3px solid #fd3550;
}

.tabs-vertical-warning.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #ff9700;
}

.tabs-vertical-warning.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-warning.tabs-vertical .nav-tabs .nav-link.active {
    color: #ff9700;
    background-color: #fff;
    border-color: #ff9700 #ff9700 #fff;
    border-bottom: 1px solid #ff9700;
    border-right: 0;
    border-left: 3px solid #ff9700;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #223035;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-dark.tabs-vertical .nav-tabs .nav-link.active {
    color: #223035;
    background-color: #fff;
    border-color: #223035 #223035 #fff;
    border-bottom: 1px solid #223035;
    border-right: 0;
    border-left: 3px solid #223035;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs {
    border: 0;
    border-right: 1px solid #75808a;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-link.active {
    /*color: #75808a;*/
    color: orange;
    background-color: #fff;
    border-color: #75808a #75808a #fff;
    border-bottom: 1px solid #75808a;
    border-right: 0;
    border-left: 3px solid #75808a;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #3A3A3A;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-pills .nav-link:hover {
    background-color: #f4f5fa;
}

.nav-pills .nav-link i {
    margin-right: 2px;
    font-weight: 600;
}

.top-icon.nav-pills .nav-link i {
    margin: 0px;
    font-weight: 200;
    display: block;
    font-size: 20px;
    padding: 5px 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background: linear-gradient(to right, #008acb 0%, #00bff9 100%);
}

.nav-pills-success .nav-link.active, .nav-pills-success .show > .nav-link {
    color: #fff;
    background-color: #15ca20;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(21, 202, 32, .5);
}

.nav-pills-info .nav-link.active, .nav-pills-info .show > .nav-link {
    color: #fff;
}

.nav-pills-danger .nav-link.active, .nav-pills-danger .show > .nav-link {
    color: #fff;
    background-color: #fd3550;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(253, 53, 80, .5);
}

.nav-pills-warning .nav-link.active, .nav-pills-warning .show > .nav-link {
    color: #fff;
    background-color: #ff9700;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 151, 0, .5);
}

.nav-pills-dark .nav-link.active, .nav-pills-dark .show > .nav-link {
    color: #fff;
    /*background-color: #223035;*/
    background-color: green;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(34, 48, 53, .5);
}

.nav-pills-secondary .nav-link.active, .nav-pills-secondary .show > .nav-link {
    color: #fff;
    /*background-color: #75808a;*/
    background-color: hotpink;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(117, 128, 138, .5);
}

.card .tab-content {
    padding: 1rem 0 0 0;
}

.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;

}

.card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.table:not(.table-sm) thead th {
    border-bottom: none;
    background-color: white;
    color: #666;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table .table-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #bbbbbb;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(49, 47, 49, 0.5);
    -moz-box-shadow: 5px 6px 15px 0px rgba(49, 47, 49, 0.5);
    -ms-box-shadow: 5px 6px 15px 0px rgba(49, 47, 49, 0.5);
    box-shadow: 5px 6px 15px 0px rgba(49, 47, 49, 0.5);
    text-shadow: 0 0 black;
}

.table .team-member-sm {
    width: 32px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.table .team-member {
    position: relative;
    width: 30px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
    display: inline-block;
}

.table .order-list li img {
    border: 2px solid #ffffff;
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.table .team-member img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 1000px;
}


.table .order-list li + li {
    margin-left: -14px;
    background: transparent;
}


.table .order-list li .badge {
    background: rgba(228, 222, 222, 0.8);
    color: #6b6f82;
    margin-bottom: 6px;
}

#nav-top {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    border-radius: 3px;
}

.social-icon i {
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 40px;
    position: relative;
}

.social-icon i:last-child {
    color: #FFF !important;
}

.social-icon:hover i:first-child {
    margin-top: -40px;
}

.social-icon-lg i {
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 60px;
    position: relative;
}

.social-icon-lg i:last-child {
    color: #FFF !important;
}

.social-icon-lg:hover i:first-child {
    margin-top: -60px;
}

.close-img {
    background: black !important;
}

/* = close input */
.input-btn {
    display: none;
}

/* checkbox */

.stlchek {
    display: inline-block;
    border: 1px solid #b2b1b1;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 4px;
}

/*  div */
.stlchek:before {
    content: '';
    background: #bdc3c7;
    width: 9px;
    height: 9px;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 2px;
    left: 2px;
}

/* on/off */
input:checked + .stlchek:before {
    opacity: 1;
}

/*	=	File Load */
.file-load-block {
    width: 210px;
    height: 35px;
    overflow: hidden;
    position: relative;
}

/* input file */
.file-load-block input[type=file] {
    /* opasity */
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    font-size: 400px;
    z-index: 2;
    cursor: pointer;
    width: auto;
}

.file-load-block input[type=text] {
    z-index: 1;
    width: 200px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    -o-text-overflow: ellipsis;
    padding: 5px 15px;
    border-radius: 5px;
}

.file-load-block button {
    position: absolute;
    right: 0;
    top: 0px;
    width: 90px;
    height: 28px;
    border: 1px solid #ccc;
    background: #fff;
    color: #666;
    border-radius: 5px;
    box-shadow: inset 0 2px 2px #ccc;
}

.file-load-block .button-hover {
    box-shadow: 0 0 2px #ccc;
}

.btn-default {
    background: #eee;
    border: 1px solid #ccc;
}

.page-title {
    color: #4A494A;
    text-transform: uppercase;
    font-weight: normal;
    margin: 35px 45px 45px 15px;
    font-size: 1.2em;
    font-weight: 700;
    display: inline-block;
    max-width: 35vw;
}

.no-bottom {
    margin-block-end: 0 !important;
    bottom: 0 !important;
    margin: 0 auto !important;
    margin-bottom: 0 !important;
}

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa,
.modal-message .modal-header
.glyphicon, .modal-message
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-message.modal-info .modal-header {
    border-bottom: 2px solid #00bff9;
}

.button-modal {
    border: none;
    top: 20px;
    width: 100px;
    box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.2);
}

.button-chancel {
    color: #495057;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.button-ok {
    background: linear-gradient(to right, #008acb 0%, #00bff9 100%);
    color: #fff !important;
}

.trash-user {
    color: #00bff9;
}

.modal-open {
    overflow: inherit;
}

